# Activate the virtual environment
source neurotech_environment/bin/activate

# Load environment variables from .env file if it exists
#if [ -f DataCollection/.env ] will check if a file named .env exists in the directory of 'DataCollection'
if [ -f DataCollection/.env ]; then
  export $(grep -v '^#' DataCollection/.env | xargs)
fi

# Add the root of the project and DataCollections to PYTHONPATH
export PYTHONPATH=$(pwd):$(pwd)/DataCollection


#'export' will set environment variables for the current shell ssession and any child processes
#grep is a command-line tool for searching text using patterns.
#-v inverts the search, meaning it will exclude lines that match the pattern.
#'^#' is a pattern to match any line that starts with #, which is commonly used to indicate comments in .env files.
#So, grep -v '^#' .env will output only the lines from .env that are not comments.
#The | (pipe) symbol passes the output of one command to another.
#xargs takes the non-commented lines from .env and formats them into arguments for export.
#This marks the end of the if statement in shell scripting.
